<?xml version="1.0"?>
<!--
/**
 * Stenders_Ingredients
 *
 * @category Stenders
 * @package  Stenders_Ingredients
 * @author   Hussein Noureddine <hussein.noureddine@scandiweb.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ingredients>
            <ingredient>
                <ingredient_base_meta_title>Ingredients</ingredient_base_meta_title>
                <ingredient_base_meta_description>Ingredients Description Here</ingredient_base_meta_description>
                <ingredient_base_meta_keywords>Ingredients Keywords Here</ingredient_base_meta_keywords>
                <base_url>ingredients</base_url>
                <ingredient_url_suffix></ingredient_url_suffix>
                <category_url_suffix></category_url_suffix>
            </ingredient>
        </ingredients>
    </default>
</config>